body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1021px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u958 {
  position:absolute;
  left:20px;
  top:847px;
  width:411px;
  height:22px;
  font-size:14px;
}
#u959 {
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  word-wrap:break-word;
}
#u960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1010px;
  height:58px;
}
#u960 {
  position:absolute;
  left:21px;
  top:131px;
  width:1000px;
  height:48px;
}
#u961 {
  position:absolute;
  left:2px;
  top:16px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u962 {
  position:absolute;
  left:455px;
  top:189px;
  width:132px;
  height:23px;
  font-size:12px;
}
#u963 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u964 {
  position:absolute;
  left:20px;
  top:80px;
  width:398px;
  height:21px;
  font-size:14px;
}
#u965 {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  word-wrap:break-word;
}
#u966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1010px;
  height:510px;
}
#u966 {
  position:absolute;
  left:21px;
  top:262px;
  width:1000px;
  height:500px;
}
#u967 {
  position:absolute;
  left:2px;
  top:242px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u968 {
  position:absolute;
  left:433px;
  top:774px;
  width:177px;
  height:23px;
  font-size:12px;
}
#u969 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  word-wrap:break-word;
}
#u970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:258px;
}
#u970 {
  position:absolute;
  left:20px;
  top:899px;
  width:168px;
  height:248px;
}
#u971 {
  position:absolute;
  left:2px;
  top:116px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u972 {
  position:absolute;
  left:76px;
  top:1158px;
  width:56px;
  height:23px;
  font-size:12px;
}
#u973 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
