body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1020px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u662 {
  position:absolute;
  left:477px;
  top:1317px;
  width:57px;
  height:20px;
  font-size:14px;
}
#u663 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u664_div {
  position:absolute;
  left:0px;
  top:0px;
  width:729px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u664 {
  position:absolute;
  left:20px;
  top:80px;
  width:729px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u665 {
  position:absolute;
  left:0px;
  top:0px;
  width:729px;
  white-space:nowrap;
}
#u666_img {
  position:absolute;
  left:-5px;
  top:0px;
  width:1010px;
  height:554px;
}
#u666 {
  position:absolute;
  left:20px;
  top:126px;
  width:1000px;
  height:544px;
}
#u667 {
  position:absolute;
  left:2px;
  top:264px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u668 {
  position:absolute;
  left:477px;
  top:690px;
  width:87px;
  height:20px;
  font-size:14px;
}
#u669 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u670_img {
  position:absolute;
  left:-5px;
  top:0px;
  width:1010px;
  height:566px;
}
#u670 {
  position:absolute;
  left:20px;
  top:748px;
  width:1000px;
  height:556px;
}
#u671 {
  position:absolute;
  left:2px;
  top:270px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
