body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1058px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1038px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei-Bold', 'Microsoft YaHei Bold', 'Microsoft YaHei';
  font-style:normal;
  font-size:14px;
}
#u1066 {
  position:absolute;
  left:20px;
  top:80px;
  width:1038px;
  height:63px;
  font-family:'MicrosoftYaHei-Bold', 'Microsoft YaHei Bold', 'Microsoft YaHei';
  font-style:normal;
  font-size:14px;
}
#u1067 {
  position:absolute;
  left:0px;
  top:0px;
  width:1038px;
  word-wrap:break-word;
}
#u1068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1068 {
  position:absolute;
  left:333px;
  top:1536px;
  width:62px;
  height:16px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1069 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u1070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1038px;
  height:89px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei-Bold', 'Microsoft YaHei Bold', 'Microsoft YaHei';
  font-style:normal;
  font-size:14px;
}
#u1070 {
  position:absolute;
  left:20px;
  top:192px;
  width:1038px;
  height:89px;
  font-family:'MicrosoftYaHei-Bold', 'Microsoft YaHei Bold', 'Microsoft YaHei';
  font-style:normal;
  font-size:14px;
}
#u1071 {
  position:absolute;
  left:0px;
  top:0px;
  width:1038px;
  word-wrap:break-word;
}
#u1072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:102px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei-Bold', 'Microsoft YaHei Bold', 'Microsoft YaHei';
  font-style:normal;
  font-size:14px;
}
#u1072 {
  position:absolute;
  left:20px;
  top:313px;
  width:1000px;
  height:102px;
  font-family:'MicrosoftYaHei-Bold', 'Microsoft YaHei Bold', 'Microsoft YaHei';
  font-style:normal;
  font-size:14px;
}
#u1073 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  word-wrap:break-word;
}
#u1074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1010px;
  height:579px;
}
#u1074 {
  position:absolute;
  left:20px;
  top:464px;
  width:1000px;
  height:569px;
}
#u1075 {
  position:absolute;
  left:2px;
  top:276px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u1077 {
  position:absolute;
  left:930px;
  top:952px;
  width:88px;
  height:30px;
}
#u1078 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:23px;
}
#u1079 {
  position:absolute;
  left:345px;
  top:962px;
  width:73px;
  height:23px;
}
#u1080 {
  position:absolute;
  left:2px;
  top:4px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:23px;
}
#u1081 {
  position:absolute;
  left:59px;
  top:842px;
  width:73px;
  height:23px;
}
#u1082 {
  position:absolute;
  left:2px;
  top:4px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:23px;
}
#u1083 {
  position:absolute;
  left:452px;
  top:791px;
  width:73px;
  height:23px;
}
#u1084 {
  position:absolute;
  left:2px;
  top:4px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#1B77D6;
}
#u1085 {
  position:absolute;
  left:870px;
  top:959px;
  width:55px;
  height:13px;
  font-size:9px;
  color:#1B77D6;
}
#u1086 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u1087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:21px;
}
#u1087 {
  position:absolute;
  left:859px;
  top:954px;
  width:71px;
  height:21px;
}
#u1088 {
  position:absolute;
  left:2px;
  top:2px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:792px;
  height:435px;
}
#u1089 {
  position:absolute;
  left:20px;
  top:1101px;
  width:782px;
  height:425px;
}
#u1090 {
  position:absolute;
  left:2px;
  top:204px;
  width:778px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1091 {
  position:absolute;
  left:452px;
  top:1043px;
  width:62px;
  height:16px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1092 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u1093_img {
  position:absolute;
  left:-5px;
  top:0px;
  width:1010px;
  height:483px;
}
#u1093 {
  position:absolute;
  left:20px;
  top:1602px;
  width:1000px;
  height:473px;
}
#u1094 {
  position:absolute;
  left:2px;
  top:228px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1095 {
  position:absolute;
  left:452px;
  top:2102px;
  width:62px;
  height:16px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1096 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u1097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1097 {
  position:absolute;
  left:297px;
  top:1658px;
  width:79px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1098 {
  position:absolute;
  left:2px;
  top:4px;
  width:75px;
  word-wrap:break-word;
}
