body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1019px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u870 {
  position:absolute;
  left:474px;
  top:1328px;
  width:73px;
  height:17px;
  font-size:12px;
}
#u871 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1010px;
  height:587px;
}
#u872 {
  position:absolute;
  left:19px;
  top:741px;
  width:1000px;
  height:577px;
}
#u873 {
  position:absolute;
  left:2px;
  top:280px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:759px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u874 {
  position:absolute;
  left:20px;
  top:80px;
  width:759px;
  height:40px;
  font-size:14px;
}
#u875 {
  position:absolute;
  left:0px;
  top:0px;
  width:759px;
  word-wrap:break-word;
}
#u876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u876 {
  position:absolute;
  left:488px;
  top:687px;
  width:62px;
  height:17px;
  font-size:12px;
}
#u877 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u878_img {
  position:absolute;
  left:-5px;
  top:0px;
  width:1010px;
  height:537px;
}
#u878 {
  position:absolute;
  left:19px;
  top:143px;
  width:1000px;
  height:527px;
}
#u879 {
  position:absolute;
  left:2px;
  top:256px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
