body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1106px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u32_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u32 {
  position:absolute;
  left:20px;
  top:80px;
  width:294px;
  height:67px;
  font-size:14px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  word-wrap:break-word;
}
#u34_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u34 {
  position:absolute;
  left:473px;
  top:2523px;
  width:86px;
  height:19px;
  font-size:12px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1010px;
  height:550px;
}
#u36 {
  position:absolute;
  left:20px;
  top:1973px;
  width:1000px;
  height:540px;
}
#u37 {
  position:absolute;
  left:2px;
  top:262px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38_div {
  position:absolute;
  left:0px;
  top:0px;
  width:918px;
  height:176px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei-Bold', 'Microsoft YaHei Bold', 'Microsoft YaHei';
  font-style:normal;
  font-size:14px;
}
#u38 {
  position:absolute;
  left:20px;
  top:1763px;
  width:918px;
  height:176px;
  font-family:'MicrosoftYaHei-Bold', 'Microsoft YaHei Bold', 'Microsoft YaHei';
  font-style:normal;
  font-size:14px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:918px;
  word-wrap:break-word;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:116px;
}
#u40 {
  position:absolute;
  left:937px;
  top:2262px;
  width:68px;
  height:116px;
}
#u41 {
  position:absolute;
  left:2px;
  top:50px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:50px;
}
#u42 {
  position:absolute;
  left:887px;
  top:2307px;
  width:19px;
  height:50px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u43 {
  position:absolute;
  left:2px;
  top:17px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:84px;
}
#u44 {
  position:absolute;
  left:546px;
  top:2316px;
  width:19px;
  height:84px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u45 {
  position:absolute;
  left:2px;
  top:34px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei-Bold', 'Microsoft YaHei Bold', 'Microsoft YaHei';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u46 {
  position:absolute;
  left:20px;
  top:170px;
  width:112px;
  height:20px;
  font-family:'MicrosoftYaHei-Bold', 'Microsoft YaHei Bold', 'Microsoft YaHei';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u48_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1086px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u48 {
  position:absolute;
  left:20px;
  top:215px;
  width:1086px;
  height:44px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:1086px;
  word-wrap:break-word;
}
#u50_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u50 {
  position:absolute;
  left:345px;
  top:1610px;
  width:62px;
  height:16px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u52_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u52 {
  position:absolute;
  left:20px;
  top:274px;
  width:1000px;
  height:45px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  word-wrap:break-word;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1010px;
  height:550px;
}
#u54 {
  position:absolute;
  left:20px;
  top:349px;
  width:1000px;
  height:540px;
}
#u55 {
  position:absolute;
  left:2px;
  top:262px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u56 {
  position:absolute;
  left:834px;
  top:512px;
  width:88px;
  height:30px;
}
#u57 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:776px;
  height:646px;
}
#u58 {
  position:absolute;
  left:20px;
  top:964px;
  width:766px;
  height:636px;
}
#u59 {
  position:absolute;
  left:2px;
  top:310px;
  width:762px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:159px;
}
#u60 {
  position:absolute;
  left:690px;
  top:1016px;
  width:68px;
  height:159px;
}
#u61 {
  position:absolute;
  left:2px;
  top:72px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:97px;
}
#u62 {
  position:absolute;
  left:369px;
  top:1155px;
  width:68px;
  height:97px;
}
#u63 {
  position:absolute;
  left:2px;
  top:40px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u64 {
  position:absolute;
  left:457px;
  top:899px;
  width:62px;
  height:16px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u66_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei-Bold', 'Microsoft YaHei Bold', 'Microsoft YaHei';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u66 {
  position:absolute;
  left:20px;
  top:1718px;
  width:148px;
  height:20px;
  font-family:'MicrosoftYaHei-Bold', 'Microsoft YaHei Bold', 'Microsoft YaHei';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  word-wrap:break-word;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:25px;
}
#u68 {
  position:absolute;
  left:25px;
  top:433px;
  width:451px;
  height:25px;
}
#u69 {
  position:absolute;
  left:2px;
  top:4px;
  width:447px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:25px;
}
#u70 {
  position:absolute;
  left:25px;
  top:2057px;
  width:451px;
  height:25px;
}
#u71 {
  position:absolute;
  left:2px;
  top:4px;
  width:447px;
  visibility:hidden;
  word-wrap:break-word;
}
